.button {
cursor: pointer;
border: none;
border-radius: 10px;
background: #006a87;
background: linear-gradient( -6deg, rgb(0,209,252) 0%, rgb(0,138,187) 100%);
box-shadow: -28.96px 1.518px 103px 0px rgba(62, 220, 255, 0.27);
color: #fff;
border-radius: 10px;
font-size: 20px;
line-height: 2.216;
}
